.workImage {
  width: 60%;
  height: auto;
  border-radius: 10px;
  border-color: transparent;
  margin-bottom: 10px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.245);
}

.workEditForm {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 12px 15px rgb(182, 182, 182);
}
